<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emotion_group_icons</key>
	<array>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3e0</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🏠</string>
			<key>png</key>
			<string>emoji_1f3e0</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3e1</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🏡</string>
			<key>png</key>
			<string>emoji_1f3e1</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3eb</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🏫</string>
			<key>png</key>
			<string>emoji_1f3eb</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3e2</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🏢</string>
			<key>png</key>
			<string>emoji_1f3e2</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3e3</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🏣</string>
			<key>png</key>
			<string>emoji_1f3e3</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3e5</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🏥</string>
			<key>png</key>
			<string>emoji_1f3e5</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3e6</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🏦</string>
			<key>png</key>
			<string>emoji_1f3e6</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3ea</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🏪</string>
			<key>png</key>
			<string>emoji_1f3ea</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3e9</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🏩</string>
			<key>png</key>
			<string>emoji_1f3e9</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3e8</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🏨</string>
			<key>png</key>
			<string>emoji_1f3e8</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f492</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>💒</string>
			<key>png</key>
			<string>emoji_1f492</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x26ea</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>⛪</string>
			<key>png</key>
			<string>emoji_26ea</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3ec</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🏬</string>
			<key>png</key>
			<string>emoji_1f3ec</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3e4</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🏤</string>
			<key>png</key>
			<string>emoji_1f3e4</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f307</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🌇</string>
			<key>png</key>
			<string>emoji_1f307</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f306</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🌆</string>
			<key>png</key>
			<string>emoji_1f306</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3ef</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🏯</string>
			<key>png</key>
			<string>emoji_1f3ef</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3f0</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🏰</string>
			<key>png</key>
			<string>emoji_1f3f0</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x26fa</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>⛺</string>
			<key>png</key>
			<string>emoji_26fa</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3ed</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🏭</string>
			<key>png</key>
			<string>emoji_1f3ed</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f5fc</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🗼</string>
			<key>png</key>
			<string>emoji_1f5fc</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f5fe</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🗾</string>
			<key>png</key>
			<string>emoji_1f5fe</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f5fb</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🗻</string>
			<key>png</key>
			<string>emoji_1f5fb</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f304</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🌄</string>
			<key>png</key>
			<string>emoji_1f304</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f305</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🌅</string>
			<key>png</key>
			<string>emoji_1f305</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f303</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🌃</string>
			<key>png</key>
			<string>emoji_1f303</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f5fd</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🗽</string>
			<key>png</key>
			<string>emoji_1f5fd</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f309</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🌉</string>
			<key>png</key>
			<string>emoji_1f309</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3a0</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🎠</string>
			<key>png</key>
			<string>emoji_1f3a0</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3a1</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🎡</string>
			<key>png</key>
			<string>emoji_1f3a1</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x26f2</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>⛲</string>
			<key>png</key>
			<string>emoji_26f2</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3a2</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🎢</string>
			<key>png</key>
			<string>emoji_1f3a2</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f6a2</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚢</string>
			<key>png</key>
			<string>emoji_1f6a2</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x26f5</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>⛵</string>
			<key>png</key>
			<string>emoji_26f5</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f6a4</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚤</string>
			<key>png</key>
			<string>emoji_1f6a4</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f6a3</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚣</string>
			<key>png</key>
			<string>emoji_1f6a3</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x2693</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>⚓</string>
			<key>png</key>
			<string>emoji_2693</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f680</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚀</string>
			<key>png</key>
			<string>emoji_1f680</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x2708</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>✈</string>
			<key>png</key>
			<string>emoji_2708</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f4ba</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>💺</string>
			<key>png</key>
			<string>emoji_1f4ba</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f681</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚁</string>
			<key>png</key>
			<string>emoji_1f681</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f682</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚂</string>
			<key>png</key>
			<string>emoji_1f682</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f68a</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚊</string>
			<key>png</key>
			<string>emoji_1f68a</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f689</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚉</string>
			<key>png</key>
			<string>emoji_1f689</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f69e</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚞</string>
			<key>png</key>
			<string>emoji_1f69e</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f686</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚆</string>
			<key>png</key>
			<string>emoji_1f686</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f684</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚄</string>
			<key>png</key>
			<string>emoji_1f684</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f685</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚅</string>
			<key>png</key>
			<string>emoji_1f685</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f688</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚈</string>
			<key>png</key>
			<string>emoji_1f688</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f687</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚇</string>
			<key>png</key>
			<string>emoji_1f687</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f69d</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚝</string>
			<key>png</key>
			<string>emoji_1f69d</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f68b</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚋</string>
			<key>png</key>
			<string>emoji_1f68b</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f683</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚃</string>
			<key>png</key>
			<string>emoji_1f683</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f68e</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚎</string>
			<key>png</key>
			<string>emoji_1f68e</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f68c</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚌</string>
			<key>png</key>
			<string>emoji_1f68c</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f68d</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚍</string>
			<key>png</key>
			<string>emoji_1f68d</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f699</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚙</string>
			<key>png</key>
			<string>emoji_1f699</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f698</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚘</string>
			<key>png</key>
			<string>emoji_1f698</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f697</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚗</string>
			<key>png</key>
			<string>emoji_1f697</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f695</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚕</string>
			<key>png</key>
			<string>emoji_1f695</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f696</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚖</string>
			<key>png</key>
			<string>emoji_1f696</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f69b</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚛</string>
			<key>png</key>
			<string>emoji_1f69b</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f69a</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚚</string>
			<key>png</key>
			<string>emoji_1f69a</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f6a8</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚨</string>
			<key>png</key>
			<string>emoji_1f6a8</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f693</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚓</string>
			<key>png</key>
			<string>emoji_1f693</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f694</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚔</string>
			<key>png</key>
			<string>emoji_1f694</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f692</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚒</string>
			<key>png</key>
			<string>emoji_1f692</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f691</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚑</string>
			<key>png</key>
			<string>emoji_1f691</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f690</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚐</string>
			<key>png</key>
			<string>emoji_1f690</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f6b2</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚲</string>
			<key>png</key>
			<string>emoji_1f6b2</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f6a1</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚡</string>
			<key>png</key>
			<string>emoji_1f6a1</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f69f</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚟</string>
			<key>png</key>
			<string>emoji_1f69f</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f6a0</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚠</string>
			<key>png</key>
			<string>emoji_1f6a0</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f69c</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚜</string>
			<key>png</key>
			<string>emoji_1f69c</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f488</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>💈</string>
			<key>png</key>
			<string>emoji_1f488</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f68f</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚏</string>
			<key>png</key>
			<string>emoji_1f68f</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3ab</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🎫</string>
			<key>png</key>
			<string>emoji_1f3ab</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f6a6</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚦</string>
			<key>png</key>
			<string>emoji_1f6a6</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f6a5</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚥</string>
			<key>png</key>
			<string>emoji_1f6a5</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x26a0</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>⚠</string>
			<key>png</key>
			<string>emoji_26a0</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f6a7</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚧</string>
			<key>png</key>
			<string>emoji_1f6a7</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f530</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🔰</string>
			<key>png</key>
			<string>emoji_1f530</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x26fd</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>⛽</string>
			<key>png</key>
			<string>emoji_26fd</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3ee</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🏮</string>
			<key>png</key>
			<string>emoji_1f3ee</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3b0</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🎰</string>
			<key>png</key>
			<string>emoji_1f3b0</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x2668</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>♨</string>
			<key>png</key>
			<string>emoji_2668</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f5ff</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🗿</string>
			<key>png</key>
			<string>emoji_1f5ff</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3aa</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🎪</string>
			<key>png</key>
			<string>emoji_1f3aa</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f3ad</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🎭</string>
			<key>png</key>
			<string>emoji_1f3ad</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f4cd</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>📍</string>
			<key>png</key>
			<string>emoji_1f4cd</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f6a9</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🚩</string>
			<key>png</key>
			<string>emoji_1f6a9</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f1ef0x1f1f5</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🇯🇵</string>
			<key>png</key>
			<string>emoji_1f1ef_1f1f5</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f1f00x1f1f7</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🇰🇷</string>
			<key>png</key>
			<string>emoji_1f1f0_1f1f7</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f1e90x1f1ea</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🇩🇪</string>
			<key>png</key>
			<string>emoji_1f1e9_1f1ea</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f1e80x1f1f3</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🇨🇳</string>
			<key>png</key>
			<string>emoji_1f1e8_1f1f3</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f1fa0x1f1f8</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🇺🇸</string>
			<key>png</key>
			<string>emoji_1f1fa_1f1f8</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f1eb0x1f1f7</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🇫🇷</string>
			<key>png</key>
			<string>emoji_1f1eb_1f1f7</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f1ea0x1f1f8</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🇪🇸</string>
			<key>png</key>
			<string>emoji_1f1ea_1f1f8</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f1ee0x1f1f9</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🇮🇹</string>
			<key>png</key>
			<string>emoji_1f1ee_1f1f9</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f1f70x1f1fa</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🇷🇺</string>
			<key>png</key>
			<string>emoji_1f1f7_1f1fa</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chs</key>
			<string></string>
			<key>code</key>
			<string>0x1f1ec0x1f1e7</string>
			<key>gif</key>
			<string></string>
			<key>group</key>
			<string>places</string>
			<key>icon</key>
			<string>🇬🇧</string>
			<key>png</key>
			<string>emoji_1f1ec_1f1e7</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>emotion_group_identifier</key>
	<string>emotion.apple.emoji.places</string>
	<key>emotion_group_type</key>
	<integer>1</integer>
</dict>
</plist>
